body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #f0f8ff; /* Light blue background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 buttons per row */
    gap: 5px;
}

button {
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    background-color: #a2d7f2;
    border: 1px solid #ccc;
    cursor: pointer;
}

.operator {
    background-color: #60bceb; /* Light blue for operator buttons */
    color: #fff;
    font-weight: bold;
}

.operator:hover {
    background-color: #60bceb; /* Darker blue on hover */
}
.operator.double-width {
    grid-column: span 2; /* Span two columns for the double-width buttons */
    background-color: #23749e;
}
.display {
    font-size: 24px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    background:#a2d7f2;
    border: 1px solid #ccc;
    text-align: left; /* Align text to the left */
    overflow-y: auto; /* Add scroll if needed */
    max-height: 120px; /* Set a maximum height */
}

.input-expression {
    color: #555;
    font-size: 14px;
    margin-bottom: 5px;
}

.output-value {
    font-size: 24px;
  text-align: right;
}
